body{
  background-color:pink;
}



  <style>
      .wy-srodkowany-tekst {
        text-align: center;
      }
    </style>

    <p class="wy-srodkowany-tekst">Ten tekst jest wyśrodkowany.</p>


P{
color:white; font-weight: 600;
}



div{
max-width: 600px;


}







