body{
  background-color:pink;
}

 <p style="text-align:left;">
    Wyrównanie tekstu <i>left</i>
 </p>




P{
color:black; font-weight: 900;
}




div{
max-width: 600px;


} .
